.EditAdminProfileInnerDiv {
    width: 40%;
    margin: 40px auto;
    box-shadow: 1px 1px 8px rgb(151, 122, 122);
    text-align: center;
    padding: 40px;
    background-color: white;
    align-content: "";

}

.EditAdminButton{
    margin:spacing(0);
    position: absolute;
    
}

.EditAdminProfileOuterDiv {
    background-image: url('../../../assests/backgrounds/backgroundHome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    
}

@media (max-width: 800px) {
    .EditAdminProfileInnerDiv {
        width: 100%;
        margin: auto;
        
    }
}



