.CustomerRegistrationInnerDiv {
    width: 40%;
    margin: 40px auto;
    box-shadow: 1px 1px 8px rgb(151, 122, 122);
    text-align: center;
    padding: 40px;
    background-color: white;

}

.CustomerRegistrationOuterDiv {
    background-image: url('../../../assests/backgrounds/customerRegistration.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    
}

@media (max-width: 800px) {
    .CustomerRegistrationInnerDiv {
        width: 100%;
        margin: auto;
        
    }
}



