.LoginPageLeft {
    width: 60%;
    background-image: url('../../assests/login/1796.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 112vh;
}

.LoginPageRight {
    width: 40%;
    padding: 20px;
    text-align: center;
    float: right;
    background-color: white;
    height: 112vh;

}

.LoginPageForm {
    width: 100%;
    padding: 20px;
}

@media(max-width: 600px) {
    .LoginPageRight {
        width: 100%;
    }

    .LoginPageLeft {
        width: 0%;
    }
}