.LoginPageLeft {
    width: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assests/backgrounds/loginBackground.jpeg');
    background-position: center;
    float: left;
    height: 100vh;
}

.LoginPageRight {
    width: 40%;
    padding: 20px;
    text-align: center;
    float: right;
    box-shadow: 1px 1px 4px black;
    background-color: white;
    height: 100vh;

}

.LoginPageForm {
    width: 100%;
    padding: 20px;
}

@media(max-width: 600px) {
    .LoginPageRight {
        width: 100%;
    }

    .LoginPageLeft {
        width: 0%;
    }
}